<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="navbar-brand" id="navbar-logo"><%= image_tag 'Logo_Fengyue.svg', class: "img-fluid", alt: 'logo' %>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <a href="/" class="nav-link nav-item">Home</a>
      <a href="/simple_pages/about" class="nav-link nav-item">About</a>
      <a href="/simple_pages/contact" class="nav-link nav-item">Contact</a>
      <a href="/products" class="nav-link nav-item">Products</a>
    </ul>
  </div>
</nav>
