<h1>About Fengyü</h1>
<p2>Fengyü creates unique accessories with an asian touch. Our products design is inspired by everyday life Asia, by the colours, street-sceneries, Chinese characters and traditional Asian handicrafts.The design is a combination of Chinese-Asian elements and a clear, industrial stile. All products are designed and produced in our Berlin studio or by selected artisans in China.</p>
