<div class="about-content">
  <h1>About Fengyü</h1>

  <div class="container-fluid">
    <div class="row">

    <!-- Column 1 -->
      <div class="col-lg-6 col-sm-12 ">
        <p class="about-text">Fengyü creates individual accessories inspired by modern everyday life and traditional elements of the traditional Chinese culture. Materials are carefully sourced in China and Germany. Our products are manufactured in our small studio in Berlin and by selected artisans in China. Fengyü was established by the designer and photographer Julia Hofmann and developed from years of living in China and extended travels through Asia. She was always fascinated by the colourful fabrics of China and Southeast Asia, but also by everyday things – advertisement stamps on walls of houses, high-rise buildings with bamboo bird cages, and street signs combined for her to harmonious compositions. All these ideas and impressions are related to in Fengyü’s products. „Fengyü“ (风雨) means „wind (feng) und rain (yü)“. Wind and rain are like our products: different but complementing each other. A powerful combination of the Asian and the European culture.</p>
      </div><!-- /Column 1 -->

      <!-- Column 3 -->
      <div class="col-lg-3 col-md-6 col-sm-12 image-grid">
        <%= image_tag 'about.overview_1.jpg', class: "img-fluid", alt: 'logo' %>
      </div><!-- /Column 3 -->

      <!-- Column 4 -->
      <div class="col-lg-3 col-md-6 col-sm-12 image-grid">
        <%= image_tag 'about.overview_3.jpg', class: "img-fluid", alt: 'logo' %>
      </div> <!-- /Column 4 -->

    </div> <!--/row -->
  </div> <!--/image-grid -->
</div> <!--/about-content -->
