<div class="indexcontent">
  <%= image_tag("Fengyue.overview_0.jpg", class: "img-fluid about-img") %>
  <h1>Welcome to Fengyü!</h1>
  <p>The design is a combination of Chinese-Asian elements and a clear, industrial stile. All Products are designed by ourselves and produced in our Berlin studio or by selected artisans in China.</p>
</div>
