<div class="index-content">
  <div class="panel panel-default">
  <div class="panel-body">
    <p id="notice">Thank you for your message! 谢谢你的邮件! <br> We have received it and will respond as soon as possible. 我们收到了，会尽快给你回信。</p>
  </div><!-- / panel-body -->
</div><!-- / panel -->
</div>
