// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.products-content {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  margin-left: auto;
  margin-right: auto;
}

.productgallery-name {
  font-size: 1.15em;
  font-weight: 600;
  text-transform: uppercase;
}

.productgallery-decription {
  font-size: 1em;
  font-weight: 300;
}

.productgallery-color {
  font-size: 1em;
  font-weight: 300;
}

.productgallery-price {
  font-size: 1em;
  font-weight: bold;
}

.productgalleryprice-tag  {
  font-size: 2em;
  font-weight: bold;
}

.productname-show {
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
}

.productgallery-edit p {
  float:right;
  padding-right: 2%;
  margin-top: 2%;
  margin-bottom: 8%;
  font-size: 0.9em;
}

p.horizontal-line::after {
 content: '';
 position: absolute;
 width: 0.1em;
 height: 1em;
 margin-left: 1%;
 margin-top: 1%;
 background: #3d3c3c;
}

.productgallery-info {
  background-color: white;
  padding-top: 5%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
}

#notice {
  color: #cba90d!important;
  font-size: 2em;
  font-weight: bolder;
  padding-bottom: 2em;
  text-align: center;
}

.product_create {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  float: none;
  background-color: transparent;
  border: 1px solid #3d3c3c;
}

.btn:hover {
  background-color: #efebe7!important;
  border: 1px solid #3d3c3c;
}

.productedit-title {
  font-weight: bold;
}

.productedit-field {
  margin-bottom: 3%;
}

.product-form {
  max-width: 800px;
  max-height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.productcomments-user {
  font-size: 1em;
  font-weight: 300;
  color: red!important;
  text-align: left;
  margin-bottom: 100em;
}

.productcomments-star {
  padding-left: 2em;
  padding-right: 2em;
}

.productcomments-text {
  font-size: 1em;
  font-weight: 300;
  color: red!important;
  text-align: left;
  margin-bottom: 100em;
}

.product-comments {
  margin-top: 3em;
  margin-bottom: 3em;
}

.star-rating {
  margin-top: -1em;
  margin-bottom: 3em;
}

.text-bold {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1em;
}

.pagination > * {
  margin-left: 1em;
}
