// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ============ General Settings ============ */
* {
  box-sizing: border-box;
}

body {
  background-color: white;
  position: relative;
  font-family: 'Exo', Helvetica, Arial, sans-serif;
  color: black;
  padding-top: 1%;
}


/* ============ Typography ============ */
h1 {
  font-weight: bold;
  text-align: center;
  font-size: 1.8em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding-bottom: 2%;
  color: black;
}

 h1::before {
  content: '';
  position: absolute;
  width: 5em;
  height: 0.05em;
  margin-top: 1.2em;
  margin-left:-2%;
  margin-right: auto;
  background: black;
}

h2 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.2em;
}

p {
  font-weight: 300;
  letter-spacing: 0.035em;
  line-height: 1.7em;
  font-size: 0.95em;
}

p.intro-text {
  font-size: 1.5em;
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: black;
  font-weight: 300;
}

a:visited {
  color: black;
  font-weight: 300;
}

/*== Media Queries ==*/
@media only screen and (max-width: 995px) {
  p.intro-text {
    font-size: 1.3em;
    width: 100%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
  }
}


/* ============ Navigation ============ */
.navbar {
  background-color: white !important;
  border-color: transparent;
  margin-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
}

.navbar-brand {
  width: 70px;
}


/* ============ Index ============ */
.index-content {
  padding-left: 5%;
  padding-right: 5%;
  margin-left: auto;
  margin-right: auto;
}

.about-img {
  padding-bottom: 2%;
}


/* ============ About ============ */
.about-content {
  padding-left: 5%;
  padding-right: 5%;
  margin-left: auto;
  margin-right: auto;
}

.image-grid {
  margin-left: 0;
  margin-right: 3%;
}


/* ============ Contact ============ */
.contact-content {
  padding-left: 5%;
  padding-right: 5%;
  margin-left: auto;
  margin-right: auto;
}

.form-control {
  color: #555;
  background-color: #e8e8e8;
  border: none;
  border-radius: 4px;
  font-weight: 300;
}

.form_row_one {
  width: 49.5%;
  display: inline-block;
}

.map-img {
  padding-top: 3%;
}


/* ============ Footer ============ */
#footercontent {
  background-color: #3d3c3c!important;
  margin-top: 3%;
  padding-top: 1%;
  width: 100%;
}

.footermenu {
  color: white!important;
  font-size: 0.8em;
  line-height: 0.6em;
  border-left: 1px solid white;
  padding-bottom: 3%;
}

.footermenu a {
  color: white;
}

.footermenu p {
  color: white;
  font-weight: bold;
  padding: .5rem 1rem;

}

#copyright {
  text-align: center;
  padding-bottom: 1%;
  padding-top: 1%;
  background-color: white;
}

#copyright-text {
  color: black!important;
  font-size: 0.8em;
}

.socialmedia {
  vertical-align: bottom;
  display: inline;
  width: 50px;
}

#socialmedia-1 {
  float:left;
  display: inline;
  width: 50px;
  margin-left: 1rem;
}

#socialmedia-2 {
  float:left;
  display: inline;
  width: 50px;
  margin-left: 1rem;
}

#socialmedia-3 {
  float:left;
  display: inline;
  width: 50px;
  margin-left: 1rem;
}

.footerlogo {
  width: 80px;
  margin-left: 1rem;
  margin-top: 1rem;
}

/*== Media Queries ==*/
@media only screen and (max-width: 995px) {
  .footermenu {
    font-size: 0.8em;
    line-height: 0.6em;
    border-bottom: 1px solid white;
    border-left: 0px;
    padding-bottom: 3%;
  }

  .footermenu p {
    margin-top: 3%;
  }
}
