<% if signed_in? %>
    <p class="text-bold">Please write this product a review</p>
  <%= form_for([@product, @product.comments.build], remote: true) do |f| %>
    <div class="form-group">
      <%= f.text_area :body, placeholder: "WE DO HOPE YOU LIKE THIS PRODUCT. LET US KNOW WHAT YOU THINK!", class:"form-control message-box"  %>
    </div >

    <div class="rating">
    </div>

    <div class="form-group" >
      <%= f.submit "Submit", class: "btn btn-light product_create" %>
    </div >
  <% end %>
<% end %>
